*.iml
.gradle
/local.properties
.idea/*
!.idea/runConfigurations/
!.idea/.name
!.idea/gradle.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
**/build/
*.apk
*.aab
*.ap_
*.dex
*.class
.kotlin
